@font-face {
    font-family: Proggy;
    src: url(fonts/ProggyCleanCE.ttf)
}

html {
	background-color: #111111;
	color: #FFFFFF;
}

body {
	/*background-blend-mode: screen;
	background-image: url(images/bge.png);*/
}

h1, h2, h3, h4, h5, h6 {
	color: #EEEEEE;
	font-family: sans-serif;
}

h1 {
	font-size:40px;
}h2 {
	font-size:35px;
}h3 {
	font-size:30px;
}h4 {
	font-size:25px;
}h5 {
	font-size:20px;
}h6 {
	font-size:15px;
}p {
	font-size:20px;
}

a {
	text-decoration: none;
	color: lightblue;
}

button, code, select, iframe {
	border-style: inset;
	border-color: pink;
	border-width: 1px;
}

img  {
	border-style: inset;
	border-color: pink; 
	border-width: 2px;
}

#code {
}
#code-asm {
	background-color: white;
	border: 1px solid grey;
	
	font-family: Proggy;
	color: black;
}

.posts {
	padding: 2px;
}

#btn-a {
	border-style: inset;
	border-color: pink;
	border-width: 1px;
}

#btn-a:hover {
	background-color: white;
}

#btns:hover {
	font-size: 20px;
}

#name_date {
	font-family: Verdana;
	background-color: lightpink;
	text-align: center;
	color: black;
}

#thumb {
	border-style: solid;
	border-color: white;
	border-radius: 100px;
	padding:5px;
	width: 200px;
	height:200px;
}

#ul {
	width: 150px;
}

#house {
	background-color: lightpink;
	padding: 2px;
	width: 600px;
}

#spacer {
	height: 10px;
}

#house {
	color: black;
	font-family: Georgia;
}

#price {
	display: inline-block;
}
#priceimg {
	width: 50px;
	height: 50px;
}

#himg {
	width:600px;
	height:400px;
}

#c {
	width: 25%;
}

#tdstuff {
	vertical-align: top;
  	text-align: left;
}

#profile-image {
	width:150px;
	height:150px;
	border-style: solid;
	border-color: silver;
	border-radius: 100px;
}