html {
	background-color: #111111;
	color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {
	color: #EEEEEE;
	font-family: Tahoma, Geneva, sans-serif;
	text-shadow: 1px 1px #AAA;
}

h1 {
	font-size:40px;
}h2 {
	font-size:35px;
}h3 {
	font-size:30px;
}h4 {
	font-size:25px;
}h5 {
	font-size:20px;
}h6 {
	font-size:15px;
}p {
	font-size:20px;
}

.posts {
	
	
	
padding: 2px;
}

#btn-a {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 2px;
}

#name_date {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: silver;
}
